html, body {
  background: #fff;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.rtc {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}
.main_block {
  height: 85%;
  display: block;
  border-radius: 10px;
  transition: background .3s;
}
.answer {
  height: 15%;
  color: white;
  position: relative;
}
.left_block, .right_block, .center_block {
  margin: -1px;
  border-radius: 10px;
  transition: background .3s;
  position: absolute;
  top: 10px;
  bottom: 0px;
}
.left_block:hover, .right_block:hover {
  cursor: pointer;
}
.left_block {
  left: 0;
  right: 50%;
  margin-right: 5px; 
}
.center_block {
  left:40%;
  right:40%;
  height: 100%;
  /*font-size: 32pt !important;
  color: black !important;
  text-align: center;*/
}
.right_block {
  right: 0;
  left: 50%;
  margin-left: 5px; 
}
.pause-blocker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  transition: display .5s;
}

/* timer bar */
div#bar1, div#bar2, div#bar3, div#bar4 {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  height: 5px;
  background: rgba(0,0,0,.4);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  border-top: 1px solid rgba(0,0,0,.5);
  border-bottom: 1px solid rgba(255,255,255,.2);
  padding: 4px 5px 5px;
  display: inline-block;
  transition: width 1s;
}

div#bar1 span, div#bar2 span , div#bar3 span , div#bar4 span {
  height: 100%;
  width: 100%;
  display: block;
  background: #ddd1ff;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-animation: pulse1 .6s infinite, grow .5s ease-out;
  -moz-animation: pulse1 .6s infinite, grow .5s ease-out;
  -ms-animation: pulse1 .6s infinite, grow .5s ease-out;
  -o-animation: pulse1 .6s infinite, grow .5s ease-out;
  animation: pulse1 .6s infinite, grow .5s ease-out;
}

div#bar2 span, div#bar4 span {
  background: #8aff51;
  -webkit-animation:pulse2 .6s infinite, grow .5s ease-out;
  -moz-animation:pulse2 .6s infinite, grow .5s ease-out;
  -ms-animation:pulse2 .6s infinite, grow .5s ease-out;
  -o-animation:pulse2 .6s infinite, grow .5s ease-out;
  animation:pulse2 .6s infinite, grow .5s ease-out;
}

@-webkit-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
} 

@-webkit-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-webkit-keyframes grow {
  0% {width: 100%;}
}

@-moz-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
} 

@-moz-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-moz-keyframes grow {
  0% {width: 100%;}
}

@-ms-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
} 

@-ms-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-ms-keyframes grow {
  0% {width: 100%;}
}

@-o-keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
} 

@-o-keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@-o-keyframes grow {
  0% {width: 100%;}
}

@keyframes pulse1 {
  0% {  box-shadow: #ddd1ff 0px 0px 8px;  }
  50% {  box-shadow: #ddd1ff 0px 0px 4px; }
  100% {  box-shadow: #ddd1ff 0px 0px 8px; }
} 

@keyframes pulse2 {
  0% {  box-shadow: #8aff51 0px 0px 8px; }
  50% {  box-shadow: #8aff51 0px 0px 4px; }
  100% {  box-shadow: #8aff51 0px 0px 8px; }
}

@keyframes grow {
  0% {width: 100%;}
}